#p1{
    position: absolute;
    width: 100%;
    height: 20%;
    border: solid black ;
    font-size: 40px;
    word-spacing: 60px;
    text-align: center;
}
#p2{
    position: absolute;
    width: 100%;
    top:21%;
    height: 79%;
    border: solid black ;
}